<h1 class="guide" style="margin: 25px 0 0 0 ">Choose a Cuisine</h1>
<br>
  <div class="cuisine-select">
    <div class="cuisine"><%= link_to image_tag('Bagels.png'), bagel_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Chinese.png'), chinese_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Health.png'), health_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Greek.png'), greek_path  %></div>
    <div class="cuisine"><%= link_to image_tag('All.png'), restaurants_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Italian.png'), italian_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Mexican.png'), mexican_path  %></div>
    <div class="cuisine"><%= link_to image_tag('New_American.png'), american_path  %></div>
    <div class="cuisine"><%= link_to image_tag('Thai.png'), thai_path  %></div>
  </div>

  <br>
  <br>
  <br>
