<h1><%= @user.fullname %></h1>

<%= link_to "Order History", user_orders_path %>
<br>
<%= link_to "See all reviews", user_reviews_path %>

<br>
<br>
<br>
<p>
  <%= @user.email %><br>
  <%= @user.password %><br>

  <%= @user.first_name %><br>
  <%= @user.last_name %><br>
  <%= @user.street_name %><br>
  <%= @user.city_name%><br>
  <%= @user.zipcode%><br>
  <%= @user.phone_num %><br>
  <%= @user.credit_card_num %><br>

</p>
<br></br>
<%= button_to "Start an order", restaurants_path, {method: :get} %>

<br></br>
<%= button_to "Update information", edit_user_path(@user), {method: :get} %>

<%= button_to "Delete my account", user_path(@user), {method: :delete} %>
