


<%= form_for @user, url: "/admin/user/#{@user.id}", method: :put do |f| %>

 <ol>
     <% @user.errors.full_messages.each do |msg| %>
       <strong><%= msg %></strong><br>
     <% end %>
   </ol>
 <div style="margin: 0 0 15px 2px"><%= f.text_field :first_name, placeholder: "First Name" ,size: 15%><text> </text>
<%= f.text_field :last_name,placeholder: "Last Name", size: 16 %></div>
<div>  <%= f.text_field :street_name ,placeholder: "Street Name",size: 33%></div>
<div>  <%= f.text_field :city_name, placeholder: "City Name",size: 33, height: 10 %> </div>
<div>  <%= f.text_field :state, placeholder: "State",size: 15%>
 <%= f.text_field :zipcode, placeholder: "Zipcode",size: 16%></div>
<div>  <%= f.telephone_field :phone_num, placeholder: "Phone Number",size: 33 %></div>
<div>  <%= f.text_field :credit_card_num, placeholder: "Credit Card Number",size: 33 %></div>
Admin?    : <%= check_box_tag :admin, "1", @user.admin %>
<br>
 <%= f.submit class: "btn btn-success"%>
 <% end %>

</div>

