<p style="padding: 1% 0 0 3%; font-family: 'Montserrat'; text-transform:uppercase; font-size: 20px;letter-spacing: 3px;"><b>Order#</b> <text style="font-size: 18px;letter-spacing: 0px;"><%= @order.id %></text></p>
<p style="padding: 0 0 0 3%; font-family: 'Montserrat'; text-transform:uppercase; font-size: 20px;letter-spacing: 3px;"><b>Date</b> <text style="font-size: 18px;letter-spacing: 0px;"><%= @order.created_at.strftime("%B %d %Y") %> </text></p>
<p style="padding: 0 0 0 3%; font-family: 'Montserrat'; text-transform:uppercase; font-size: 20px;letter-spacing: 3px;">
<% if @order.delivery_in %>
  <% if DateTime.now < @order.delivery_in && TimeDifference.between(@order.delivery_in, DateTime.now).in_minutes.to_i != 0 %>
  <b>Delivery in</b>
  <text style="font-size: 18px;letter-spacing: 0px;"><%= TimeDifference.between(@order.delivery_in, DateTime.now).in_minutes.to_i %> minutes</text></p><br>
  <% else %> 
  <b>Delivered</b>
  <% end %> 
<% else %> 
<b>Delivered</b>
<% end %> 
<div class="flex-container" >
    <h1 style="margin: 0 0 30px 0;font-family: 'Montserrat'; text-transform:uppercase; font-size: 32px;letter-spacing: 3px;"><b>Your Order</b></h1>
</div>

<hr class="order">
<div class="flex-container" >
  <h1 style="margin: 30px 0 30px 0; font-family: 'Montserrat'; text-transform:uppercase; font-size: 25px;letter-spacing: 3px;"><%= @order.restaurant.name %> </h1>

</div>
<hr class="order">
<div class="row">
  <div class="column">
    <% @order.menuorders.each do |menuorder| %>
      <div><%= menuorder.food_item.food_name %></div>
    <%end%>
  </div>

  <div class="column2">
    <% @order.menuorders.each do |menuorder| %>
      <div> $<%= menuorder.food_item.price %></div>
    <%end%>
  </div>
</div>


<div class="row2">
  <hr class="order">
  <div class="column3">
    <div>Total</div>
  </div>
  <div class="column4">
      <div>$<%=@order.total %></div>
      <div>Charged to: XXXX-XXXX-XXXX-<%=@order.user.credit_card_num.slice(-4,4)%></div>
  </div>
</div>
