<h4><%= @restaurant.name %></h4>
<p> <%= @restaurant.avg_rating%></p>
<p><%= @restaurant.street_name %></p>
<p><%= @restaurant.city_name %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></p>
<p><%= @restaurant.phone_num %></p>
<br>
<%= link_to "Write a Review", new_review_path %>



<hr>
<h5>Drinks</h5>
  <div class="grid-container">
    <% @restaurant.menu_category("Drinks").each do |item| %>
      <div class="menu_item">
        <p><%= item.food_name %></p>
        <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<h5>Appetizers</h5>
  <div class="grid-container">
    <% @restaurant.menu_category("Appetizers").each do |item| %>
      <div class="menu_item">
        <p><%= item.food_name %></p>
        <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<h5>Mains</h5>
  <div class="grid-container">
    <% @restaurant.menu_category("Mains").each do |item| %>
      <div class="menu_item">
        <p><%= item.food_name %></p>
        <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<h5>Desserts</h5>
  <div class="grid-container">
    <% @restaurant.menu_category("Desserts").each do |item| %>
    <div class="menu_item">
      <p><%= item.food_name %></p>
      <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
