<h4><%= @restaurant.name %></h4>
<p> <%= @restaurant.avg_rating%></p>
<p><%= @restaurant.street_name %></p>
<p><%= @restaurant.city_name %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></p>
<p><%= @restaurant.phone_num %></p>
<br>
<%= link_to "Write a Review", new_review_path %>



<hr>
<h5>TEST</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Drinks").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>

        <%= form_tag edit_cart_path, method: :patch, class: "navbar-form navbar-left search-form" do %>
          <%= hidden_field_tag 'food_item_id', "#{item.id}" %>
          <%= number_field_tag(
              :quantity,
              params[:quantity],
              placeholder: "Quantity",
              class: "form-control"
          ) %>
        <%= submit_tag "Submit" %>
        <% end %>



    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>



<h5>Drinks</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Drinks").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price">  <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Appetizers</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Appetizers").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price">
          <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Mains</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Mains").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price">  <%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Desserts</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Desserts").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"><%= link_to "Add to Cart", new_menuorder_path, remote: true, class: "btn btn-primary" %> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
