<h4><%= @restaurant.name %></h4>
<p> <%= @restaurant.avg_rating%></p>
<p><%= @restaurant.street_name %></p>
<p><%= @restaurant.city_name %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></p>
<p><%= @restaurant.phone_num %></p>
<br>
<%= link_to "See all reviews", restaurantreviews_path %>
<br>
<%= link_to "Write a Review", new_review_path %>


<%= form_tag edit_cart_path, method: :patch do  %>
<input name="restaurant_id" value="<%= @restaurant.id %>" type="hidden" />

<h5>Drinks</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Drinks").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]">
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Appetizers</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Appetizers").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]">
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Mains</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Mains").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]">
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>
<h5>Desserts</h5>
<div class="container">
  <div class="row">
  <% @restaurant.menu_category("Desserts").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]">
    </div>
  <% end %>
  <div.clearfix:after>
  <div.empty-fill>

<br></br>
<%= submit_tag "Add to Cart", class: "btn btn-primary" %>
<% end %>
