<%= link_to "Back", guide_path, class: 'link-to-text-color' %>
<br>
<br>
<h4><%= @restaurant.name %></h4>
<% @restaurant.get_avg.floor.times do %><i class="fas fa-star"></i><%end%>
<%if @restaurant.get_avg%1 <= 0.8 && @restaurant.get_avg%1 >=0.3%>
  <i class="fas fa-star-half"></i>
  <% elsif @restaurant.get_avg%1 >0.8 %>
    <i class="fas fa-star"></i>
  <% end %>(<%= @restaurant.get_avg %>)<br>
<%= @restaurant.street_name %><br>
<%= @restaurant.city_name %>, <%= @restaurant.state %> <%= @restaurant.zipcode %><br>
<%= @restaurant.phone_num %><br>
<%= link_to "See all reviews", restaurant_reviews_path, class: 'link-to-text-color' %>
<br>
<%= link_to "Write a Review", new_review_path, class: 'link-to-text-color' %>



<%= form_tag edit_cart_path, method: :patch do  %>
<input name="restaurant_id" value="<%= @restaurant.id %>" type="hidden" />

<br>
<div class="container">

  <h5>Drinks</h5>
  <div class="container">
    <div class="row">
      <% if @restaurant.menu_category("Drinks") == []%>
        <p class="unavailable">There are no drinks for this menu.</p>
      <% else %>
      <% @restaurant.menu_category("Drinks").each do |item| %>
      <div class="col-md-6 food-border">
        <h6><%= item.food_name %><h6>
          <p class="price"> $<%= item.price %></p>
          <p class="description"><em><%= item.description %></em><p>
            Quantity: <input type="number" name="items[<%= item.id %>]" min="0" step="1">
      </div>
      <% end %>
    <% end %>
</div>
</div>



<h5>Appetizers</h5>
<div class="container">
  <div class="row">
    <% if @restaurant.menu_category("Appetizers") == []%>
      <p class="unavailable">There are no appetizers for this menu.</p>
    <% else %>
    <% @restaurant.menu_category("Appetizers").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]" min="0" step="1">
    </div>
    <% end %>
  <% end %>
  </div>
</div>


<h5>Mains</h5>
<div class="container">
  <div class="row">
    <% if @restaurant.menu_category("Mains") == []%>
      <p class="unavailable">There are no main dishes for this menu.</p>
    <% else %>
    <% @restaurant.menu_category("Mains").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]" min="0" step="1">
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<h5>Desserts</h5>
<div class="container">
  <div class="row">
    <% if @restaurant.menu_category("Desserts") == []%>
    <p class="unavailable">There are no desserts for this menu.</p>
    <% else %>
    <% @restaurant.menu_category("Desserts").each do |item| %>
    <div class="col-md-6 food-border">
      <h6><%= item.food_name %><h6>
        <p class="price"> $<%= item.price %></p>
        <p class="description"><em><%= item.description %></em><p>
          Quantity: <input type="number" name="items[<%= item.id %>]" min="0" step="1">
    </div>
    <% end %>
  <% end %>
  </div>
</div>
<br>
<div ALIGN=CENTER><%= submit_tag "Add to Cart", class: "btn btn-primary" %></div>
<% end %>
