<!DOCTYPE html>
<html>
  <head>
    <title>Seamful</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <h4 style="margin: 0 0 0 3%;font-family: 'Arial'; font-size: 16px;color: rgb(244,136,110)"> <%= flash[:notice] %> </h4>
    <h4 style="margin: 0 0 0 3%;font-family: 'Arial'; font-size: 16px;color: rgb(244,136,110)"> <%= alert %> </h4>
    <div>
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
